*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2020-03-11-Mortality_Rate.md
_posts/2020-03-12-covid19-us-states.md
_posts/2020-03-13-COVID19-Comparitive-Analysis.md
_posts/2020-03-13-EDA.md
_posts/2020-03-14-covid19_growth.md
_posts/2020-03-15-us-growth-by-state-map.md
_posts/2020-03-16-covid19_growth_bayes.md
_posts/2020-03-17-covid19-compare-country-death-trajectories.md
_posts/2020-03-17-covid19-compare-country-trajectories.md
_posts/2020-03-18-case-count-estimation-us-states.md
_posts/2020-03-19-cases-and-deaths-per-million.md
_posts/2020-03-19-estimating_infected.md
_posts/2020-03-21-covid19-overview-europe.md
_posts/2020-03-21-covid19-overview-us.md
_posts/2020-03-21-covid19-overview.md
images/copied_from_nb/covid-compare-1-1.png
images/copied_from_nb/covid-compare-2-1.png
images/copied_from_nb/covid-compare-3-1.png
images/copied_from_nb/covid-compare-3-3.png
images/copied_from_nb/covid-compare-4-1.png
images/copied_from_nb/covid-compare-4-2.png
images/copied_from_nb/covid-compare-4-3.png
images/copied_from_nb/covid-compare-4-4.png
images/copied_from_nb/covid-compare-4-5.png
images/copied_from_nb/covid-compare-4-6.png
images/copied_from_nb/covid-compare-5-1.png
images/copied_from_nb/covid-compare-5-2.png
images/copied_from_nb/covid-compare-5-3.png
images/copied_from_nb/covid-compare-5-4.png
images/copied_from_nb/covid-compare-5-5.png
images/copied_from_nb/covid-eda-1-1.png
images/copied_from_nb/covid-eda-1-2.png
images/copied_from_nb/covid-eda-10-1.png
images/copied_from_nb/covid-eda-10-2.png
images/copied_from_nb/covid-eda-10-3.png
images/copied_from_nb/covid-eda-10-4.png
images/copied_from_nb/covid-eda-10-5.png
images/copied_from_nb/covid-eda-2-1.png
images/copied_from_nb/covid-eda-2-2.png
images/copied_from_nb/covid-eda-3-1.png
images/copied_from_nb/covid-eda-3-2.png
images/copied_from_nb/covid-eda-4-1.png
images/copied_from_nb/covid-eda-4-2.png
images/copied_from_nb/covid-eda-4-3.png
images/copied_from_nb/covid-eda-4-4.png
images/copied_from_nb/covid-eda-4-5.png
images/copied_from_nb/covid-eda-8-1.png
images/copied_from_nb/covid-eda-8-2.png
images/copied_from_nb/covid-eda-9-1.png
settings.ini
_notebooks/2020-03-21-covid19-overview.ipynb
images/copied_from_nb/covid-compare-1-1.png
.DS_Store
